body {
  background: rgb(248, 248, 154);
}

header {
  display: flex;
  margin: 1em;
  padding: 1em;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color: rgb(77, 251, 77);
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  flex-grow: 0.5;
  margin: 1em;
  gap: 10px;
  justify-content: flex-end;
  font-family: sans-serif;
  font-size: 1em;
  /*background-color: yellow;*/
}

.button {
  background-color: rgb(255, 0, 234);
  color: white;
  height: 30%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.brand {
  font-family: fantasy;
  font-size: 2em;
  color: red;
}

main {
  display: flex;
  /*background-color: aqua;*/
  margin: 1em;
  padding: 1em;
}

.products ul li {
  background-color: crimson;
}

/*
.products {
  display: flex;
  margin: 1em;
  height: fit-content;
  background-color: white;
  font-style: italic;
}
*/

footer {
  background-color: rgb(77, 251, 77);
}
